.square {
  display: inline-block;
  position: relative;
  width: 35px;
  background: #db8b18;
  border-radius: 2px;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .square {
    width: 25px;
  }
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .content {
    font-size: 0.9em;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #484a49;
}

.sub-city {
  width: 40%;
}

.sub-text_color {
  color: #b8b8b8;
}

.sub-text_size {
  font-size: 0.85em;
}

.right {
  float: right;
}

.left {
  float: left;
}

.bold-text {
  font-weight: bold;
}

body {
  background-color: #000;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
}
body ul.schedule-section {
  display: block;
  border-radius: 3px;
  margin: 0 5px 5px;
  background-color: #19212b;
  list-style-type: none;
  padding-left: 0%;
}
body ul.schedule-section > div {
  padding-left: 63px;
  padding-top: 3px;
}
body ul.schedule-section > div .time-next {
  color: #d17d06;
}

.destination-block-wrapper {
  border-bottom: 1px solid #0e131a;
  padding: 5px 10px;
  height: 50px;
  font-weight: 600;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .destination-block-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 5px 10px;
  }
}
.destination-block-wrapper:last-child {
  border-bottom: none;
}
.destination-block-wrapper .destination-block {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .destination-block-wrapper .destination-block {
    display: flex;
    padding: 0 10px;
  }
}
.destination-block-wrapper .time {
  padding: 0 5px 0 2px;
  width: 50px;
}
.destination-block-wrapper .status {
  width: 25%;
  margin: 0;
  font-size: 12px;
  height: -webkit-fill-available;
  padding: 1px 2px;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .destination-block-wrapper .status {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
.destination-block-wrapper .status_cancelled {
  background-color: #730000;
}
@media only screen and (min-width: 318px) and (max-width: 420px) {
  .destination-block-wrapper .flights-destination {
    flex-direction: column;
    width: 40%;
  }
}
@media only screen and (min-width: 661px) and (max-width: 901px) {
  .destination-block-wrapper .flights-destination {
    width: 36%;
  }
}
.destination-block-wrapper .flights-destination .city {
  width: 40%;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .destination-block-wrapper .flights-destination .city {
    flex-direction: column;
    width: 78%;
  }
}
.destination-block-wrapper .flights-destination .flights {
  font-size: 10px;
  padding: 4px 0;
  color: #d17d06;
}
.destination-block-wrapper .flights-destination .flights span {
  padding: 3px 2px;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .destination-block-wrapper .flights-destination .flights {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.destination-block-wrapper .gate-block-wrapper {
  width: 25%;
  height: 100%;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .destination-block-wrapper .gate-block-wrapper {
    flex-direction: row;
    width: 47%;
    height: auto;
  }
}
.destination-block-wrapper .gate-block-wrapper .gate-block {
  display: inline-block;
  width: 45%;
  background-color: #0e131a;
  height: 100%;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .destination-block-wrapper .gate-block-wrapper .gate-block {
    display: flex;
    align-items: center;
    margin: 3px;
  }
}
.destination-block-wrapper .gate-block-wrapper .gate-block span {
  font-size: 14px;
  padding: 2px 0 0 3px;
}
.destination-block-wrapper .gate-block-wrapper .step {
  vertical-align: top;
  width: 18px;
  padding: 3px;
}
.destination-block-wrapper .gate-block-wrapper .step_closed {
  filter: invert(0.7) sepia(1) saturate(7) hue-rotate(5deg);
}

header {
  display: block;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header .header-title {
  display: block;
  padding: 20px 90px 10px;
  font-weight: bold;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  header .header-title {
    padding: 10px 20px 10px 20px;
  }
}
header .header-title h1 span {
  display: block;
}
header .bottom-block {
  padding: 110px 0 10px 60px;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  header .bottom-block {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
header .bottom-block .terminal-wrapper {
  display: inline-block;
  padding-left: 20px;
  vertical-align: middle;
}
header .bottom-block .terminal-wrapper .terminal {
  margin-top: 5px;
}
header .bottom-block .terminal-wrapper span {
  font-weight: bold;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  header .bottom-block .terminal-wrapper {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    width: fill-available;
    justify-content: flex-end;
    padding-bottom: 15px;
  }
}
header .bottom-block .current-date-block {
  display: inline-block;
  padding: 10px 0 15px;
  vertical-align: middle;
  width: 30%;
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  header .bottom-block .current-date-block {
    padding: 10px 27px 10px;
    width: auto;
  }
}
header .bottom-block .current-date-block .time-block {
  display: inline-block;
}
header .bottom-block .current-date-block .time-block img.clock-icon {
  width: 24px;
}
header .bottom-block .current-date-block .time, header .bottom-block .current-date-block .date {
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
}
header .bottom-block .current-date-block .time {
  padding-right: 13px;
}
header img.plane-icon {
  position: absolute;
  top: 20px;
  right: 35px;
  width: 75px;
}
@media only screen and (min-width: 318px) and (max-width: 420px) {
  header img.plane-icon {
    top: 15px;
    right: 15px;
    width: 60px;
  }
}

.hide {
  height: 0;
  padding: 0 10px;
  border: none;
  overflow: hidden;
  transition: height 600ms linear, padding 1s;
}

.show {
  border-bottom: 1px solid #0e131a;
  padding: 5px;
  height: 50px;
  overflow: visible;
  transition: height 600ms linear, padding 1s;
}
@media only screen and (min-width: 318px) and (max-width: 420px) {
  .show {
    height: 120px;
  }
}
@media only screen and (min-width: 318px) and (max-width: 660px) {
  .show {
    height: 125px;
  }
}

footer {
  display: block;
  background-color: #19212b;
  border-radius: 3px;
  margin: 0 5px;
}

/*# sourceMappingURL=index.css.map */
