$square-color: #db8b18;

$smMinWidth: 318px;
$smMaxWidth: 460px;
$mdMinWidth: 461px;
$mdMaxWidth: 660px;
$lgMaxWidth: 1200px;

.square {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  background: $square-color;
  border-radius: 2px;
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.2em 0 0 0.2em;

  @media only screen and (min-width: $smMinWidth) and (max-width: $smMaxWidth) {
    width: 25px;
    height: 25px;
    font-size: 0.8em;
  }
}