$mediaMaxWidth: 1200px;
$mediaMinWidth: 320px;

@media only screen and (min-width: 318px) and (max-width: 660px) {
  #header {
    display: flex;
    flex-direction: column;

    .header-title {
      padding: 10px 20px 10px 20px;
    }

    .current-date-block {
      padding: 10px 27px 10px;
      width: auto;

      time{
        font-size: 14px;
      }
    }

    .bottom-block {
      display: flex;
      flex-direction: row;
      padding: 0;
    }

    .terminal-wrapper {
      display: flex;
      flex-direction: column;
      width: -webkit-fill-available;
      width: fill-available;
      justify-content: flex-end;
      padding-bottom: 15px;
    }
  }

  .square {
    width: 25px;
  }

  .content {
      font-size: 0.9em;
  }

  .flights {
    display: flex;
    flex-direction: column;
  }

  .destination-block-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 5px;

    .destination-block {
      display: flex;
    }

    .gate-block-wrapper {
      flex-direction: row;
      width: 45%;
      height: auto;

      .gate-block {
        display: flex;
        align-items: center;
        margin: 3px;
      }
    }

    .flights-destination {
      flex-direction: column;
      width: 38%;
    }

    .flights {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .status {
      flex-direction: column;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 318px) and (max-width: 420px){
  #header {
    img.plane-icon {
      top: 15px;
      right: 15px;
      width: 60px;
    }

    // .terminal-wrapper {
    //   width: 120px;
    //   display: inline-block;
    //   position: absolute;
    //   bottom: 15px;
    //   left: 50%;
    // }
  }
}
