$font-stack:    Helvetica, sans-serif;
$primary-bg-color: #000;
$secondary-bg-color: #19212b;
$primary-font-color: #fff;
$secondary-font-color: #b8b8b8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background-color: #484a49;
}

body {
  background-color: $primary-bg-color;
  color: $primary-font-color;
  width: 1200px;
  margin: auto;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;

  .sub-text_color {
    color: $secondary-font-color;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  #header {
    display: relative;
    padding: 20px 100px;
    width: 100%;
  }

  section.time-section {
    display: block;
    border-radius: 3px;
    margin: 0 5px 5px;
    padding: 5px 0;
    background-color: $secondary-bg-color;

    .flight-block-wrapper {
      display: block;
      border-bottom: 1px solid #0e131a;
      padding: 5px 10px;
      height: 40px;

      &:last-child {
        border-bottom: none;
      }

      .flights {
        font-size: 10px;
        color: #d17d06;
      }

      .secondary-city {
        text-align: right;
      }
    }

    .flight-block {
      display: inline-block;
      vertical-align: top;
      height: 100%;

      &.time {
        padding: 0 5px 0 2px;
        width: auto;
      }

      &.flights-destination {
        display: inline-block;
        width: 40%;

        .city {
          width: 30%;
        }
      }

      &.gate {
        width: 20%;
        background-color: #0e131a;
        height: 100%
      }

      &.status {
        width: 25%;
        margin: 0;
      }
    }
  }

  #footer {
    display: block;
    background-color: $secondary-bg-color;
    border-radius: 3px;
    margin: 0 5px;
  }
}
